<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Holiday Planner App</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/HolidayPlannerStyles.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Holiday Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h1 class="mt-5">Welcome to Holiday Planner</h1>
        <p class="lead">Select your dream destination from the countries below. Pack up and go!</p>
      </div>
        <div id="results" class="col-lg-8 text-center order-3"></div>
        <div class="col-lg-4 text-center order-2">
            <form enctype="application/json" action="/post/json" method="post">
                <div class="form-group">
                    <select class="form-control" name="sec_n">
                        <option value="0">Africa</option>
                        <option value="1">Asia</option>
                        <option value="2">South America</option>
                        <option value="3">North America</option>
                        <option value="4">Europe</option>
                        <option value="5">Australia and Oceania</option>
                        <option value="6">Antarctica</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="country" placeholder="Country">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="whyGo" placeholder="Why Go">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="wheretoGo" placeholder="Where to Go">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="whentoGo" placeholder="When to Go">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="timeinDays" placeholder="Time in Days">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="levelofDifficulty" placeholder="Level of Difficulty">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="entraceFees" placeholder="Entrace Fees">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2019</span>
      </div>
    </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="jquery/table.js"></script>
</body>

</html>
